{% extends getPartial('page-design') %}

{% set showDefaultHomepage = config("Ceres.default.homepage") %}

{% set displayedSliders = [] %}
{% set sliderCategories = config('CeresEigenesBaseline.default.slider') | find("[0-9]+") %}
{% set latestItemsList = services.item.getLatestItems(12) %}

{% block PageBody %}

    {# if showDefaultHomepage == "true" #}

        {#
            {% set currentLang = services.sessionStorage.getLang() %}
        #}

        <div class="homepage" data-plentyflow-pagename="Startseite" data-plentyflow-homepage="true">
            <div class="max-container swiper-container">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <span> </span>
                <div class="carousel-inner" style="min-height: 550px; height: 60%;">
                  <div class="carousel-item active" style="width: 100%; height: 100%; background-image: url(https://images.pexels.com/photos/1462637/pexels-photo-1462637.jpeg); background-size: cover;">
                    <div class="carousel-caption d-none d-md-block" style="background-color: lightgrey; opacity: 0.8;">
                      <img src="https://cdn02.plentymarkets.com/qukdye15abpw/frontend/Bilder_testbilder/logo_header_techniworld.png" style="width: 50%; max-width: 400px;"></img>
                      <p>
                        <a href="" class="btn-own btn-outline-dark" style="width: 40%; z-index: 11;">Mehr erfahren</a>
                      </p>
                    </div>
                  </div>
                  <div class="carousel-item" style="width: 100%; height: 100%; background-image: url(https://cdn02.plentymarkets.com/qukdye15abpw/frontend/Bilder_testbilder/computer_index.jpg); background-size: cover;">
                    <div class="carousel-caption d-none d-md-block" style="background-color: lightgrey; opacity: 0.8;">
                      <img src="https://cdn02.plentymarkets.com/qukdye15abpw/frontend/Bilder_testbilder/logo_header_techniworld.png" style="width: 50%; max-width: 400px;"></img>
                      <p>
                        <a href="" class="btn-own btn-outline-dark" style="width: 40%; z-index: 11;">Mehr erfahren</a>
                      </p>
                    </div>
                  </div>
                  <div class="carousel-item" style="width: 100%; height: 100%; background-image: url(https://plentyflow.plentymarkets-cloud02.com/documents/category/18/photo-1445384763658-0400939829cd.jpeg); background-size: cover;">
                    <div class="carousel-caption d-none d-md-block" style="background-color: lightgrey; opacity: 0.8;">
                      <img src="https://cdn02.plentymarkets.com/qukdye15abpw/frontend/Bilder_testbilder/logo_header_techniworld.png" style="width: 50%; max-width: 400px;"></img>
                      <p>
                        <a href="" class="btn-own btn-outline-dark" style="width: 40%; z-index: 11;">Mehr erfahren</a>
                      </p>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="swiper-button-prev" aria-hidden="false"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="swiper-button-next" aria-hidden="false"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>


            <div class="container-max" data-plentyflow-section="Highlights" data-plentyflow-section-element="space, block">
                <div class="row mt-xs-15 highlights">
                    <div class="col-xs-12 col-sm-4 mb-xs-15" data-plentyflow-modul="Highlight-Nr.1">

                        {% set highlight1ID = config('CeresEigenesBaseline.default.highlight1') %}
                        {% set highlight1URL = config('CeresEigenesBaseline.default.highlight1-url') %}
                        {% set highlight1 = services.category.get(highlight1ID,lang) %}
                        <a href="{{ services.category.getURL( highlight1 ,lang) }}">
                            <img data-plentyflow-element="image" class="img-fluid img-full unveil" src="{% if highlight1URL == ""  %} {{ plugin_path('CeresEigenesBaseline') }}/images/homepage/baseline-kachel-1.jpg {% else %}{{ highlight1URL }}{% endif %}" alt="{{ highlight1.details.first.name }}">
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="row">
                            <div class="col-xs-12 mb-xs-15 mb-sm-10 mb-md-15" data-plentyflow-modul="Highlight-Nr.2">
                                {% set highlight2ID = config('CeresEigenesBaseline.default.highlight2') %}
                                {% set highlight2URL = config('CeresEigenesBaseline.default.highlight2-url') %}
                                {% set highlight2 = services.category.get(highlight2ID,lang) %}
                                <a href="{{ services.category.getURL( highlight2 ,lang) }}">
                                    <img data-plentyflow-element="image" class="img-fluid img-full unveil" src="{% if highlight2URL == ""  %} {{ plugin_path('CeresEigenesBaseline') }}/images/homepage/baseline-kachel-2.jpg {% else %}{{ highlight2URL }}{% endif %}" alt="{{ highlight2.details.first.name }}">
                                </a>
                            </div>
                            <div class="col-xs-12 mb-xs-15" data-plentyflow-modul="Highlight-Nr.3" data-plentyflow-modul-element="display">
                                {% set highlight3ID = config('CeresEigenesBaseline.default.highlight3') %}
                                {% set highlight3URL = config('CeresEigenesBaseline.default.highlight3-url') %}
                                {% set highlight3 = services.category.get(highlight3ID,lang) %}
                                <a href="{{ services.category.getURL( highlight3 ,lang) }}">
                                    <img  data-plentyflow-element="image" class="img-fluid img-full unveil" src="{% if highlight3URL == ""  %} {{ plugin_path('CeresEigenesBaseline') }}/images/homepage/baseline-kachel-3.jpg {% else %}{{ highlight3URL }}{% endif %}" alt="{{ highlight3.details.first.name }}">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4" data-plentyflow-modul="Highlight-Nr.4">
                        {% set highlight4ID = config('CeresEigenesBaseline.default.highlight4') %}
                        {% set highlight4URL = config('CeresEigenesBaseline.default.highlight4-url') %}
                        {% set highlight4 = services.category.get(highlight4ID,lang) %}
                        <a href="{{ services.category.getURL( highlight4 ,lang) }}">
                            <img data-plentyflow-element="image" class="img-fluid img-full unveil" src="{% if highlight4URL == ""  %} {{ plugin_path('CeresEigenesBaseline') }}/images/homepage/baseline-kachel-4.jpg {% else %}{{ highlight4URL }}{% endif %}" alt="{{ highlight4.details.first.name }}">
                        </a>
                    </div>
                </div>

                {#{% if config("CeresEigenesBaseline.default.showTopseller") == "true" %}
                    {% include "CeresEigenesBaseline::Content.TopItems" %}
                {% endif %}#}

                {% if config("CeresEigenesBaseline.default.showTopseller") == "true" %}
                {% set itemList = services.itemList.getItemList('tag_list', config("CeresEigenesBaseline.default.topsellerTagId")).documents %}
                <div class="row top-seller mt-xs-40" data-plentyflow-section="Top-Seller">
                    <div class="col-xs-12">
                        <div class="text-xs-center" data-plentyflow-modul="Titel">
                            <h2 data-plentyflow-element="title">{{ config('CeresEigenesBaseline.default.topsellerHeadline') }}</h2>
                        </div>

                        {% set topItems = itemList %}

                        {%  if topItems|length > 0 %}
                            <div class="row mt-xs-15">

                                <div class="swiper-container product-slider">
                                    <div class="swiper-wrapper">
                                        {% set arrID = [] %}
                                        {% for item in topItems %}
                                            {% if item is not null %}

                                                {% if item.data.item.id not in arrID %}
                                                    {% set arrID = arrID|merge([item.data.item.id]) %}
                                                    <div class="swiper-slide">
                                                        {% include "CeresEigenesBaseline::Category.Item.Partials.CategoryListItem" with { 'item': services.item.getItem(item.data.item.id).documents[0] } %}
                                                    </div>

                                                {% endif %}

                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="swiper-button-prev swiper-button-black">&nbsp;</div>
                                    <div class="swiper-button-next swiper-button-black">&nbsp;</div>
                                </div>

                            </div>
                        {% endif %}

                    </div>
                </div>
                {% endif %}

                <div class="row highlights">
                    <div class="col-xs-12 col-sm-6 mt-xs-15 mt-sm-0" data-plentyflow-modul="Highlight-Nr.5" data-plentyflow-modul-element="display, space">
                        {% set highlight5ID = config('CeresEigenesBaseline.default.highlight5') %}
                        {% set highlight5URL = config('CeresEigenesBaseline.default.highlight5-url') %}
                        {% set highlight5 = services.category.get(highlight5ID,lang) %}
                        <a href="{{ services.category.getURL( highlight5 ,lang) }}">
                            <img data-plentyflow-element="image" class="img-fluid img-full " src="{% if highlight5URL == ""  %} {{ plugin_path('CeresEigenesBaseline') }}/images/homepage/baseline-categorybig-1.jpg {% else %}{{ highlight5URL }}{% endif %}" alt="{{ highlight5.details.first.name }}">
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 mt-xs-15 mt-sm-0" data-plentyflow-modul="Highlight-Nr.6" data-plentyflow-modul-element="display, space">
                        {% set highlight6ID = config('CeresEigenesBaseline.default.highlight6') %}
                        {% set highlight6URL = config('CeresEigenesBaseline.default.highlight6-url') %}
                        {% set highlight6 = services.category.get(highlight6ID,lang) %}
                        <a href="{{ services.category.getURL( highlight6 ,lang) }}">
                            <img data-plentyflow-element="image" class="img-fluid img-full " src="{% if highlight6URL == ""  %} {{ plugin_path('CeresEigenesBaseline') }}/images/homepage/baseline-categorybig-2.jpg {% else %}{{ highlight6URL }}{% endif %}" alt="{{ highlight6.details.first.name }}">
                        </a>
                    </div>
                </div>


                {#{% if config("CeresEigenesBaseline.default.showLatestitem") == "true" %}
                    {% include "CeresEigenesBaseline::Content.NewItems" %}
                {% endif %}#}

                {% if config("CeresEigenesBaseline.default.showLatestitem") == "true" %}
                {% set itemList = services.itemList.getItemList('tag_list', config("CeresEigenesBaseline.default.latestItemsTagId")).documents %}
                <div class="row top-seller mt-xs-40" data-plentyflow-section="Neuheiten">
                    <div class="col-xs-12">
                        <div class="text-xs-center" data-plentyflow-modul="Titel">
                            <h2 data-plentyflow-element="titel">{{ config('CeresEigenesBaseline.default.latestitemHeadline') }}</h2>
                        </div>

                        {% set topItems = itemList %}

                        {%  if topItems|length > 0 %}
                            <div class="row mt-xs-15">
                                <div class="swiper-container product-slider">
                                    <div class="swiper-wrapper">
                                        {% set arrID = [] %}
                                        {% for item in topItems %}
                                            {% if item is not null %}

                                                {% if item.data.item.id not in arrID %}
                                                    {% set arrID = arrID|merge([item.data.item.id]) %}
                                                    <div class="swiper-slide">
                                                        {% include "CeresEigenesBaseline::Category.Item.Partials.CategoryListItem" with { 'item': services.item.getItem(item.data.item.id).documents[0] } %}
                                                    </div>

                                                {% endif %}

                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="swiper-button-prev swiper-button-black">&nbsp;</div>
                                    <div class="swiper-button-next swiper-button-black">&nbsp;</div>
                                </div>

                            </div>
                        {% endif %}

                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    {# else #}

        {# block ThemeHomepage #}
            <!-- theme homepage -->
        {# endblock #}

    {# endif #}

{% endblock %}
