{% set companyLogoNav   = config("CeresEigenesBaseline.header.company_logo") %}
{% set lang             = services.sessionStorage.getLang() %}
{% set megamenu         = config("CeresEigenesBaseline.header.megamenu") | find("[0-9]+") %}
{% set megamenuMaxLevel = config("CeresEigenesBaseline.header.nav_max_level") %}


<nav class="navbar" data-plentyflow-section="Navigation" data-plentyflow-section-element="block" data-plentyflow-onlyhomepage="true">
    <div class="container-max">

        <!--       LOGO       -->
        <!--       START      -->
        <div class="brand-wrapper text-xs-center" data-plentyflow-modul="Logo">
            <a class="pull-lg-left" href="/">
                {% if (companyLogoNav is empty)  %}
                    <img src="{{ plugin_path('CeresEigenesBaseline') }}/images/baseline-logo.png" class="img-fluid"/>
                {% else %}
                    <img data-plentyflow-element="image, space" src="{{ companyLogoNav }}" class="img-fluid"/>
                {% endif %}
            </a>
        </div>
        <!--       LOGO       -->
        <!--        END       -->


        <!--   DESKTOP MENU   -->
        <!--       START      -->
        <ul class="nav navbar-nav main-nav pull-lg-left hidden-md-down"
            data-dropdown-in="fadeIn"
            data-dropdown-out="fadeOut"
            data-plentyflow-modul="Menu">

            {# TODO: Macro entwickeln für einen rekursiven Aufruf #}

            {% for category in services.category.getNavigationTree("all", lang, megamenuMaxLevel) %}

                {% if category.children is empty %}
                    <li class="nav-item">
                        <a data-plentyflow-element="text, link"
                           class="nav-link"
                           href="{{ services.category.getURL( category, lang ) }}">
                            {{ category.details.first.name }}
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown {% if category.details.first.categoryId in megamenu  %}yamm-fw{% endif %}">

                        <a class="dropdown-toggle nav-link"
                           id="{{ category.details.first.name }}_Menu"
                           data-target="#"
                           href="{{ services.category.getURL( category, lang ) }}"
                           aria-haspopup="true"
                           aria-expanded="false"
                           data-plentyflow-element="text,link">
                            {{ category.details.first.name }}
                        </a>

                        <ul data-plentyflow-element="block" class="dropdown-menu" aria-labelledby="{{ category.details.first.name }}_Menu">

                            {% if category.details.first.categoryId in megamenu  %}
                            <div class="yamm-content container">
                                <div class="text-lg-center"><a href="{{ services.category.getURL( category, lang ) }}" class="h2">{{ category.details.first.name }}</a></div>
                                <div class="row">
                                    <div class="col-md-{% if category.details.first.image2Path != "" %}9{% else %}12{% endif %}">
                                        <ul class="row list-unstyled mt-sm-10">
                            {% endif %}
                                            {% for subcat in category.children %}
                                                <li  class="{% if subcat.children is not empty %}dropdown{% endif %} {% if category.details.first.categoryId in megamenu %} col-md-4  {% else %} dropdown {%  endif  %}">

                                                    <a class="dropdown-item special-case {% if category.details.first.categoryId in megamenu  %}h4{% else %} no-mega{% endif %} block"
                                                       href="{{ services.category.getURL( subcat, lang ) }}"
                                                       data-plentyflow-element="title, link">
                                                        {{ subcat.details.first.name }}
                                                    </a>

                                                    {% if subcat.children is not empty %}
                                                        <ul class="dropdown-menu sub-menu list-unstyled">
                                                            <li>
                                                                {% for subsubcat in subcat.children %}
                                                                    <a data-plentyflow-element="text, link, 2"
                                                                       class="dropdown-item special-case block"
                                                                       href="{{ services.category.getURL( subsubcat, lang ) }}">
                                                                        {{ subsubcat.details.first.name }}
                                                                    </a>
                                                                {% endfor %}
                                                            </li>
                                                        </ul>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                            {% if category.details.first.categoryId in megamenu  %}
                                        </ul>
                                    </div>
                                    {% if category.details.first.image2Path != "" %}
                                    <div class="col-md-3">
                                        <img class="img-fluid cat-img-nav" src="/documents/{{ category.details.first.image2Path }}" alt="{{ category.details.first.name }}" />
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <div class="search-desktop hidden-md-down pull-lg-right" data-plentyflow-modul="Search-Icon">
            <button class="search-trigger btn">
                <i data-plentyflow-element="text, link" class="fa fa-search sm-up"></i>
            </button>
        </div>
        <!--   DESKTOP MENU   -->
        <!--        END       -->


        <!--   MOBILE MENU    -->
        <!--       START      -->
        <div class="row mobile-nav navbar-icons hidden-lg-up {% if services.customer.getContact() != null  %}login-row{% endif %}">
            <div class="col-xs-3" data-plentyflow-modul="Mobile-Menu-Icon">
                <a class="menu-toggle" href="#">
                    <div class="nav-icon" data-plentyflow-element="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>

            <div class="col-xs-3">
                <div class="control-user mobile">

                    {# TODO: needs to be defined by plenty, start level is MODUL #}
                    <user-login-handler template="#vue-user-login-handler"
                                        :user-data="{{ services.customer.getContact() | json_encode() }}"></user-login-handler>
                </div>
            </div>

            <div class="col-xs-3" data-plentyflow-modul="Mobile-Search">
                <a class="" data-toggle="collapse" href="#searchBox"
                   aria-expanded="{% if services.template.isSearch() %}true{% else %}false{% endif %}"
                   aria-controls="searchBox"
                   data-parent="#controlsList"
                   data-plentyflow-element="text">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <span class="hidden-md-down">{{ trans("Ceres::Template.generalSearchNoDot") }}</span>
                </a>
            </div>

            <div class="col-xs-3" data-plentyflow-modul="Mobile-Basketpreview">
                <a v-toggle-basket-preview href="#" id="toggleBasketPreview" class="toggle-basket-preview">
                    {% if config("Ceres.header.basket_values") != "sum" %}
                        <span class="badge-right" v-basket-item-quantity="this.$store.state.basket.data.itemQuantity">0</span>
                    {% endif %}

                    <i v-waiting-animation="this.$store.state.basket.isBasketLoading" waiting-class="fa fa-refresh fa-spin" class="fa fa-shopping-cart" aria-hidden="true"></i>
                    {% if config("Ceres.header.basket_values") != "quantity" %}
                        <span class="badge" v-basket-item-sum="this.$store.state.basket.data.itemSum">0,00 {{ services.checkout.getCurrencyData()[currencyFormat] }}</span>
                    {% endif %}
                </a>
            </div>
        </div>
        <!--   MOBILE MENU    -->
        <!--        END       -->
    </div>
</nav>
